/* shared styles */
body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #fd6e0a;
}
/* nav relaeted styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800px;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #181818;
}
.btn-primary{   
    background-color: #fd6e0a;
    border-radius: 5px;
    border: 0;
    padding: 15px 35px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

/* header related style */
header{
    background-color:rgba(245, 197, 152, 0.315);
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-picture{
    width: 500px;
}